<section data-ng-controller="LocationsController">
    <div class="page-header">
        <h3>Locations
          <a type="button" class="btn btn-success pull-right" href="/#!/locations/create">
            <i class="glyphicon glyphicon-open"></i> New Location
          </a>
        </h3>
    </div>
    <div>
        <table ng-table="tableParams" show-filter="true" class="ng-table-responsive">
            <tr ng-repeat="location in $data">
                <td data-title="'PO #'" id="td1" sortable="'po'" filter="{ 'type':'text' }">{{location.po}}</td>
                <td data-title="'UPC'" id="td2" sortable="'upc'" filter="{ 'length': 'text' }">{{location.upc}}</td>
                <td data-title="'Item'" id="td3" sortable="'item'" filter="{ 'color': 'text' }">{{location.item}}</td>
                <td data-title="'Quantity'" id="td4" sortable="'quantity'" filter="{ 'quantity': 'text' }">{{location.quantity}}</td>
                <td data-title="'Location'" id="td5" sortable="'location'" filter="{ 'shipment': 'text' }">{{location.location}}</td>
                <td data-title="'Carton'" id="td6" sortable="'carton'" filter="{ 'location': 'text' }">{{location.carton}}</td>
                <td>
                   <div class="table-actions">
                        <a class="btn btn-default" title="View" href="/#!/locations/{{location._id}}">
                            <span class="glyphicon glyphicon-eye-open"></span>
                        </a>
                        <a class="btn btn-default" title="Edit" href="/#!/locations/{{location._id}}/edit">
                            <span class="glyphicon glyphicon-edit"></span>
                        </a>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</section>
